@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ql-editor{
    font-size: 1.05rem;
}

.post-content p{
    margin-bottom: 0.5rem;
}

.post-content h1{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content h2{
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
    margin: 1.5rem 0;
}

.post-content h3{
    font-size: 1.2rem;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 0.7rem;
}

.post-content a{
    color: rgb(50, 150, 199);
    text-decoration: none;
}
.post-content a:hover{
    text-decoration: underline;
}

.dark .post-content a{
    color: #ff2b2b;
}